name: qirana_app
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.2
  image_picker: ^0.6.7+4
  carousel_pro: ^1.0.0
  flappy_search_bar: ^1.7.2
  sqflite: ^1.3.1
  path_provider: ^1.6.11
  fluttertoast: ^7.0.1+1
  google_sign_in: ^4.5.1
  shared_preferences: ^0.5.8

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:

  uses-material-design: true

  assets:
    - assets/

